@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Comic+Neue:wght@400;700&family=Luckiest+Guy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
#bg {
  top: 0;
  width: 100%;
  right: 0;
}
#overlay {
  background-color: rgba(0, 0, 0, 0.582);
}
#title {
  font: 400 8vw Ceviche One;
  letter-spacing: 1vw;
  background-color: rgba(0, 128, 0, 0.349);  
}
h1 small {
  font-size: 4vw;
}
.radioBtn {
  background-color: rgba(0, 128, 0, 0.349);  
}

@media screen and (max-width: 1215px) {
  #bg { height: 100% }
}