@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&family=Young+Serif&display=swap');

/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: rgb(2,0,36);
  background-image: linear-gradient(225deg, rgba(2,0,36,1) 0%, rgba(10,10,143,1) 76%);
}
h1 { font: 900 6vw 'younf serif' }
a{ text-decoration: inherit }

/* main section */
.bg {
  background-color: rgba(2, 0, 36, 0.377);
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.507);
  font-family: young serif;
}
.search > input::placeholder,
.search > input,
.search > button {
  font: 400 2vw poppins;
  width: 30vw;
}
.search > button { width: 15vw }
.sunrise > img,
.sunset > img {width: 4vw }

.sunrise > span,
.sunset > span,
.forecast,
.back,
.weatherDescription { 
  font: 500 2.5vw "Poppins";
  text-wrap: wrap;
}

.sunrise, .sunset, .weatherDescription {
  background-color: rgb(2,0,36);
  box-shadow: 2px 5px 5px rgba(2, 0, 36, 0.388);
}
.city, .time, .day { font: 400 5vw "young serif" }
.country, .date { font: 400 2.4vw "poppins" }
.temp {
  font: 900 15vw "young serif";
  width: fit-content;
  margin-top: -2vw;
}
.temp > span { font: 400 5vw poppins }
#changeLocation { text-align: center}
.forecast,
.back {
  letter-spacing: .5vw;
  text-decoration: none;
}
.back:hover, 
.forecast:hover { text-decoration: underline;}
.icon {
  top: 2vw;
  left: -4vw;
  width: 9vw;
}

/* Hourly forecast section */
h5 { font: 400 3vw "poppins" }
.hourly {
  display: grid !important;
  grid-template-columns: repeat(24, 25%);
  column-gap: 2vw;
  overflow: auto;
  white-space: nowrap;
 }
.hourly::-webkit-scrollbar { display: none }
.hourly > div { background-color: rgba(2, 0, 36, 0.377) }
.tempHourly {
  font: 400 4vw "young serif";
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(2,0,36);
}

/* daily forecast */
.day {
  background-color: rgba(2, 0, 36, 0.377);
  margin: 2vw;
  gap: 2vw;
}
.dayTime { 
  font: 500 4vw Poppins;
  background-color: rgba(255, 255, 255, 0.203);
  color: white;
  width: 100%
}
.dayImage{ width: 8vw }
.dayTemp { font: 500 10vw young serif }
.dayTemp > span {
  font: 500 4vw young serif;
  color: rgba(255, 255, 255, 0.717);
}
.dayText{
  font: 400 2vw poppins;
  color: rgba(255, 255, 255, 0.664);
  width: 100%;
}
.daySunrise, .daySunset {
  background-color: rgb(2,0,36);
  font: 500 2.5vw "Poppins";
  width: 100%;
}
.back {
  font: 500 2.5vw "Poppins";
  color: white;
  bottom: 2.5vw;
}
/* footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font: 400 2vw 'Young Serif', serif;
  letter-spacing: .5vw;
  text-align: center;
  padding: 1vw 0;
}



/* main section */
@media screen and (max-width: 576px) {
  h1 { font: 900 6vw 'younf serif' }
  .sunrise > span,
  .sunset > span,
  .forecast,
  .weatherDescription { font: 500 4vw "Poppins" }
  
  .forecast{ margin-top: 1vw }
  .city, .time, .day { font: 400 6.5vw "young serif" }
  .country, .date { font: 400 4vw "poppins" }
  .temp { font: 900 25vw "young serif" }

  .search > input::placeholder,
  .search > input,
  .search > button { 
    font: 400 3vw poppins;
  }
  .search > input { width: 45vw }
  .search > button { width: 15vw }

  .icon {
    top: 4vw;
    left: -3vw;
    width: 10vw;
  }
    
  /* daily forecast */
  .dayTime { font: 500 8vw Poppins }
  .dayImage{ width: 20vw }

  /* hourly forecast section */
  h5 { font: 400 5vw "poppins"}
  .day { gap: 5vw }
  .hourly { grid-template-columns: repeat(24, 50%) }
  .tempHourly { font: 400 6vw "young serif" }
  .dayTemp { font: 500 20vw young serif }
  .dayTemp > span { font: 500 8vw young serif  }
  .dayText{ font: 400 4vw poppins }
  .daySunrise, .daySunset { font: 500 4vw "Poppins" }
  .dayForecast{ font: 500 3vw "Poppins" }

  /* footer */
  footer {  font: 400 3.5vw 'Young Serif', serif  }
}